/* BAGIAN NAVBAR */
.navbar-brand {
    background-size: left;
    margin-right: 30px;
}
/* BAGIAN NAVBAR */

/* BAGIAN JUMBOTRON PAGE IMAGE */
.jumbotron {
    background-image: url(img/backgroundslide1.jpg);
    height: 732px;
    margin-left: -90px;
    margin-top:70px;
}
.section1 {
    background-image: url(img/backgroundslide2.jpg);
    height: 732px;
    margin-left: -90px;
}
.section2 {
    background-image: url(img/backgroundslide3.jpg);
    height: 732px;
    text-align: center;
}
.section3 {
    background-image: url(img/backgroundslide4.jpg);
    height: 732px;
    margin-left: -90px;
    text-align: center;
}
/* BAGIAN JUMBOTRON PAGE IMAGE */


.jumbotron .display-4 {
    margin-top: -15px;
    margin-left: 45px;
}

.section1 .display-4 .draft2 {
    margin-top: -15px;
    margin-left: 45px;
}

.jumbotron .lead {
    margin-left: 45px;
}

.section1 .lead {
    margin-left: 500px;
}

.section2 .lead {
    margin-top: 60px;
}

.jumbotron .p2 {
    margin-top: -3px;
}

.section1 .display-4 {
    margin-top: -15px;
    margin-left: 45px;
}
.jumbotron .btndaftar {
    margin-top: 135px;
    margin-left: 450px;
}

.jumbotron .btnplay {
    margin-top: 135px;
    margin-left: 10px;
}

.section2 .btnjointelegram {
    margin-top: 25px;
    margin-left: 680px;
    padding-left: 40px;
    padding-right: 40px;
}

.section2 .teleword{
    font-weight: bold;
    font-size: 10pt;
    margin-left: 680px;
}

.jumbotron .btndaftar {
    color: #8148E4;
    font-weight: bold;
    background-color: #FFFFFF;
    opacity: 75%;
    border: none;
    border-radius: 10px;
}

.jumbotron .btnplay {
    color: #8148E4;
    font-weight: bold;
    background-color: #FFFFFF;
    opacity: 75%;
    border: none;
    border-radius: 10px;
}

.section2 .btnjointelegram {
    color: #ffffff;
    font-weight: bold;
    background-color: #8148E4;
    opacity: 65%;
    border: none;
    border-radius: 10px;
}

.section3 .btncontactus {
    color: #ffffff;
    font-weight: bold;
    background-color: #8148E4;
    opacity: 65%;
    border: none;
    border-radius: 10px;
}