/* BAGIAN NAVBAR */
.navbar-brand {
    background-size: left;
    margin-right: 30px;
}
/* BAGIAN NAVBAR */

/* BAGIAN JUMBOTRON PAGE IMAGE */
.jumbotron1 {
    background-image: url(img/backgroundslide1.jpg);
    height: 732px;
    margin-left: -90px;
    margin-top:70px;
}
.jumbotron2 {
    background-image: url(img/backgroundslide2.jpg);
    height: 732px;
    margin-left: -90px;
}
.jumbotron3 {
    background-image: url(img/backgroundslide3.jpg);
    height: 732px;
    text-align: center;
}
.jumbotron4 {
    background-image: url(img/backgroundslide4.jpg);
    height: 732px;
    margin-left: -90px;
    text-align: center;
}
/* BAGIAN JUMBOTRON PAGE IMAGE */


.jumbotron1 .display-4 {
    margin-top: -15px;
    margin-left: 45px;
}

.jumbotron2 .display-4 .draft2 {
    margin-top: -15px;
    margin-left: 45px;
}

.jumbotron1 .lead {
    margin-left: 45px;
}

.jumbotron2 .lead {
    margin-left: 500px;
}

.jumbotron3 .lead {
    margin-top: 60px;
}

.jumbotron1 .p2 {
    margin-top: -3px;
}

.jumbotron2 .display-4 {
    margin-top: -15px;
    margin-left: 45px;
}
.jumbotron1 .btndaftar {
    margin-top: 135px;
    margin-left: 450px;
}

.jumbotron1 .btnplay {
    margin-top: 135px;
    margin-left: 10px;
}

.jumbotron3 .btnjointelegram {
    margin-top: 25px;
    margin-left: 680px;
    padding-left: 40px;
    padding-right: 40px;
}

.jumbotron3 .teleword{
    font-weight: bold;
    font-size: 10pt;
    margin-left: 680px;
}

.jumbotron1 .btndaftar {
    color: #8148E4;
    font-weight: bold;
    background-color: #FFFFFF;
    opacity: 75%;
    border: none;
    border-radius: 10px;
}

.jumbotron1 .btnplay {
    color: #8148E4;
    font-weight: bold;
    background-color: #FFFFFF;
    opacity: 75%;
    border: none;
    border-radius: 10px;
}

.jumbotron3 .btnjointelegram {
    color: #ffffff;
    font-weight: bold;
    background-color: #8148E4;
    opacity: 65%;
    border: none;
    border-radius: 10px;
}

.jumbotron4 .btncontactus {
    color: #ffffff;
    font-weight: bold;
    background-color: #8148E4;
    opacity: 65%;
    border: none;
    border-radius: 10px;
}